article p {
    color: yellow;
}
body {
    background-color:black;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
header {
    background-color:rgb(94, 93, 93);
}
h4 {
    color: white;
}
h6 {
    color:white;
}
h2 {
    color:white;
}
h3{
    color:Grey;
}
a{
    color:whitesmoke;
}
footer{
    color:grey;
    margin-top: 100px;
    margin-bottom: 100px;
    
}